In [56]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

alamat = "https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films"
html = urlopen(alamat)
data = BeautifulSoup(html, 'html.parser')

In [57]:
table = data.findAll("table", {"class":"wikitable"})[0]
rows = table.findAll("tr")[1:16]

hasil = []
for row in rows:
    info = []
    for cell in row.findAll(["td", "th"]):
        info.append(cell.get_text())
    hasil.append(info)

In [58]:
de = []

def Extract(lst): 
    return de.append([item[0] for item in hasil])

Extract(hasil)

In [59]:
df = pd.DataFrame(de)
df1_transposed = df.T
df1_transposed.columns = ['Film']
print(df1_transposed)
print('ulala')

                                                 Film
0                                            Parasite
1                                      Ford v Ferrari
2   Learning to Skateboard in a Warzone (If You're...
3                               The Neighbors' Window
4                                        Little Women
5                                      Marriage Story
6                                         Jojo Rabbit
7                                         Toy Story 4
8                                               Joker
9                       Once Upon a Time in Hollywood
10                                               1917
11                                               Judy
12                                          Bombshell
13                                          Rocketman
14                                   American Factory
ulala